.container {
  margin: 30px auto;
}
.app-wrapper {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding: 15px 60px;
  border: 1px solid #dadde1;
}
.search-line {
  background-color: white;
}
.search-button {
  position: relative;
  margin-top: 7px;
}
.my-location-button {
  position: relative;
  margin-top: 7px;
}
.row {
  padding: 0;
}
.table-row {
  padding: 20px 20px;
}
nav {
  justify-content: center;
}

img {
  justify-content: center;
  object-fit: contain;
  max-width: 100%;
}

#temp-C:hover {
  transition: all 200ms ease;
  opacity: 1;
  color: violet;
}
#temp-F:hover {
  transition: all 200ms ease;
  opacity: 1;
  color: violet;
}

#precipitation {
  text-transform: capitalize;
  font-size: 18px;
  font-style: italic;
}
#current-date #last-upd {
  font-size: 14px;
}
#icon {
  width: 70px;
}
.active {
  color: black;
  text-decoration: none;
}

#git-hub-rep {
  text-align: center;
}
a:link {
  color: black;
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
}
#city-image {
  border-radius: 10px;
}
